.light {
  background-color: $n-light-very-light-gray;

  // styles for side texts in status-bar and reorder-items-text
  .narrow-text {
    color: $n-light-dark-grayish-blue;
  }

  // circles in add-item and items elements.
  .circle {
    border: 1px solid $n-light-very-light-grayish-blue;
  }
  .wallpaper-bg {
    background-image: url("../images/bg-desktop-light.jpg");
  }
  .main-container {
    .add-item {
      background-color: $n-light-very-light-gray;
      .add-item-field {
        color: $n-light-very-dark-grayish-blue;
        &::placeholder {
          color: $n-light-dark-grayish-blue;
        }
      }
      box-shadow: $desktop-light-shadow;
    }
    .items-status-wrapper {
      box-shadow: $desktop-light-shadow;
      background-color: $n-light-light-grayish-blue;
      .items-wrapper {
        .item {
          background-color: $n-light-very-light-gray;
          border-bottom-color: $n-light-very-light-grayish-blue;
          .item-text {
            color: $n-light-very-dark-grayish-blue;
          }
          &.complete-item {
            .item-text {
              color: $n-light-light-grayish-blue;
            }
          }
          &.active-item .circle::before {
            background: $n-light-very-light-gray;
          }
        }
      }
      .status-bar {
        background-color: $n-light-very-light-gray;

        .clear-completed-items {
          &:hover {
            color: $n-light-very-dark-grayish-blue;
          }
        }
      }
    }
    .filter-items {
      .filter-item-btn {
        color: $n-light-dark-grayish-blue;
        &:hover {
          color: $n-light-very-dark-grayish-blue;
        }
      }
    }
  }
}
